:root {
    --hr-size: 0.15rem;
}

.heading {
    color: var(--cyan-1);
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 800;
}

.heading-small {
    color: var(--cyan-1);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
}

.heading-tiny {
    color: var(--cyan-1);
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 800;
}

.large {
    color: var(--Foreground);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}

.small {
    color: var(--Foreground);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.small-italic {
    color: var(--Foreground);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

a {
    color: var(--cyan-1);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
}

hr {
    height: var(--stroke_width);
    background-color: var(--Stroke);
    border: none;
    padding: none;
    margin: var(--padding) 0;
}

.vr {
    border-left: var(--stroke_width) solid var(--Stroke);
    height: 100vh;
    width: 0.15rem;
    margin: 0.9rem;
}

div:has(.leaderboard) {
    width: 50%;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    text-align: center;

    tr {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

        th, td {
            width: 20%;
            display: inline-block;
        }
    }

    td:first-child,
    th:first-child {
        width: 10%;
    }

    td:last-child,
    th:last-child {
        width: 30%;
    }
}

.leaderboard label {
    padding: 0.75;
    justify-self: start;
}

.top-left-flair {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.75rem;
    width: 10.5rem;
    opacity: .28;
    background: linear-gradient(to right,
    var(--Foreground) 0%, var(--Foreground) 7.14%,
    var(--Background) 7.14%, var(--Background) 14.29%,
    var(--Stroke) 14.29%, var(--Stroke) 21.43%,
    var(--cyan-1) 21.43%, var(--cyan-1) 28.57%,
    var(--yellow-1) 28.57%, var(--yellow-1) 35.71%,
    var(--red-1) 35.71%, var(--red-1) 42.86%,
    var(--pink-1) 42.86%, var(--pink-1) 50%,
    var(--Foreground) 50%, var(--Foreground) 57.14%,
    var(--Background) 57.14%, var(--Background) 64.29%,
    var(--Stroke) 64.29%, var(--Stroke) 71.43%,
    var(--cyan-1) 71.43%, var(--cyan-1) 78.57%,
    var(--yellow-1) 78.57%, var(--yellow-1) 85.71%,
    var(--red-1) 85.71%, var(--red-1) 92.85%,
    var(--pink-1) 92.85%, var(--pink-1) 100%);
}

.bottom-right-flair {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.75rem;
    width: 10.5rem;
    opacity: .28;
    background: linear-gradient(to right,
    var(--Foreground) 0%, var(--Foreground) 7.14%,
    var(--Background) 7.14%, var(--Background) 14.29%,
    var(--Stroke) 14.29%, var(--Stroke) 21.43%,
    var(--cyan-1) 21.43%, var(--cyan-1) 28.57%,
    var(--yellow-1) 28.57%, var(--yellow-1) 35.71%,
    var(--red-1) 35.71%, var(--red-1) 42.86%,
    var(--pink-1) 42.86%, var(--pink-1) 50%,
    var(--Foreground) 50%, var(--Foreground) 57.14%,
    var(--Background) 57.14%, var(--Background) 64.29%,
    var(--Stroke) 64.29%, var(--Stroke) 71.43%,
    var(--cyan-1) 71.43%, var(--cyan-1) 78.57%,
    var(--yellow-1) 78.57%, var(--yellow-1) 85.71%,
    var(--red-1) 85.71%, var(--red-1) 92.85%,
    var(--pink-1) 92.85%, var(--pink-1) 100%);
}

#logout {
    right: var(--padding);
    bottom: var(--padding);
    position: absolute;
}

.left {
    height: calc(50% - var(--padding));
    justify-content: space-evenly;
}

#entity-flow {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    img {
        position: absolute;
        left: 0;
        top: 0;
        height: 75px;
        animation: 3s linear infinite rotate;
    }
}

@keyframes translate {
    from {
        translate: 0 0;
    }
    25% {
        translate: 100% 0;
    }
    50% {
        translate: 100% 100%;
    }
    75% {
        translate: 0 100%;
    }

}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
