:root {
    font: 400 italic 16px "JetBrains Mono";
    background: var(--Background);
    color: var(--Foreground);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    text-underline-offset: 0.125rem;

    --padding: 0.75rem;
    --stroke_width: 2px;
    --radius: 0.1875rem;
    --Foreground: #FFFFFF;
    --Background: #323232;
    --Stroke: #535353;
    --cyan-1: #82F6FF;
    --yellow-1: #FFEE7D;
    --red-1: #FF5151;
    --pink-1: #FE82CC;
    cursor: default;
}
body {
    width: 100vw;
    height: 100vh;
    margin:0;
}

@media (min-width: 960px) and (min-height: 540px) {
    :root {
        font: 400 italic 24px "JetBrains Mono";

    }
}

.logical-button {
    cursor: pointer;
    font-weight: normal;
}
.floating-box {
    border-radius: var(--radius, 0.1875rem);
    border: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
    background: var(--Background, #323232);
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    color: inherit;
    font: inherit;
    font-style: normal;
}
.floating-box:focus {
    border: var(--stroke_width) solid var(--Foreground);
}
.entry-box {
    display: flex;
    width: 12.5rem;
    height: 2.5rem;
    padding: 0.5625rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}
.entry-box:focus {
    outline: none;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
