@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../../fonts/JetBrainsMono-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    /*font-display: swap;*/
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../../fonts/JetBrainsMono-SemiBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    /*font-display: swap;*/
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../../fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    /*font-display: swap;*/
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../../fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    /*font-display: swap;*/
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../../fonts/JetBrainsMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
