 .heading {
    color: var(--cyan-1);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
} 

.heading-small {
    color: var(--cyan-1);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
} 

.heading-tiny {
    color: var(--cyan-1);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 18;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
} 

.large {
    color:var(--Foreground);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small {
    color:var(--Foreground);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 16;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small-italic {
    color:var(--Foreground);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 16;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    color: var(--cyan-1);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

hr {
  height: 2px;
  background-color: var(--Stroke);
  border: none;
}

.vr {
    border-left: 2px solid var(--Stroke);
    height: 100vh;
    width: 2px;
    margin: 12px;
}

.leaderboard {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.leaderboard label {
    padding: 10;
    justify-self: start
}

.top-left-flair {
    position: absolute;
    left:0;
    top:0;
    height: 10px;
    width: 140px;
    opacity: .28;
    background: linear-gradient(to right,
    var(--Foreground) 0%, var(--Foreground) 7.14%,
    var(--Background) 7.14%, var(--Background) 14.29%,
    var(--Stroke) 14.29%, var(--Stroke) 21.43%,
    var(--cyan-1) 21.43%, var(--cyan-1) 28.57%,
    var(--yellow-1) 28.57%, var(--yellow-1) 35.71%,
    var(--red-1) 35.71%, var(--red-1) 42.86%,
    var(--pink-1) 42.86%, var(--pink-1) 50%,
    var(--Foreground) 50%, var(--Foreground) 57.14%,
    var(--Background) 57.14%, var(--Background) 64.29%,
    var(--Stroke) 64.29%, var(--Stroke) 71.43%,
    var(--cyan-1) 71.43%, var(--cyan-1) 78.57%,
    var(--yellow-1) 78.57%, var(--yellow-1) 85.71%,
    var(--red-1) 85.71%, var(--red-1) 92.85%,
    var(--pink-1) 92.85%, var(--pink-1) 100%);
}

.bottom-right-flair {
    position: absolute;
    right:0;
    bottom:0;
    height: 10px;
    width: 140px;
    opacity: .28;
    background: linear-gradient(to right,
    var(--Foreground) 0%, var(--Foreground) 7.14%,
    var(--Background) 7.14%, var(--Background) 14.29%,
    var(--Stroke) 14.29%, var(--Stroke) 21.43%,
    var(--cyan-1) 21.43%, var(--cyan-1) 28.57%,
    var(--yellow-1) 28.57%, var(--yellow-1) 35.71%,
    var(--red-1) 35.71%, var(--red-1) 42.86%,
    var(--pink-1) 42.86%, var(--pink-1) 50%,
    var(--Foreground) 50%, var(--Foreground) 57.14%,
    var(--Background) 57.14%, var(--Background) 64.29%,
    var(--Stroke) 64.29%, var(--Stroke) 71.43%,
    var(--cyan-1) 71.43%, var(--cyan-1) 78.57%,
    var(--yellow-1) 78.57%, var(--yellow-1) 85.71%,
    var(--red-1) 85.71%, var(--red-1) 92.85%,
    var(--pink-1) 92.85%, var(--pink-1) 100%);
}

