:root {
    --top-height: 23px;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0;

    margin: 0;
}


#left-bar {
    width: 30%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    /*position: absolute;*/
    /*top: 22px;*/
    left: 0;
    border-right: var(--stroke_width, 1px) solid var(--Stroke, #535353);
    border-left: var(--stroke_width, 1px) solid var(--Stroke, #535353);
    background: var(--Background, #323232);


    .side-box {
        display: flex;
        padding: var(--padding, 12px);
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .box-title {
            align-self: stretch;
            color: var(--Foreground, #FFF);
            text-align: center;
            font-weight: 700;
        }

        .box-element {
            color: var(--Foreground, #FFF);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .box-element.selected {
            border: var(--stroke_width) solid var(--Foreground);
            border-radius: var(--radius);
            margin-left: 0.29em;
            padding: 0 0.25em;
        }
    }

    .side-box:has(> :nth-child(1):last-child), #map-box:has(> :nth-child(2):last-child) {
        display: none;
    }

    hr {
        margin: 4px 6px;
        height: var(--stroke_width);
        width: 108px;
        border: none;
        background: var(--Stroke, #535353);
    }

    .side-box:not(:last-child)::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: var(--Stroke);
        margin: 12px auto -12px;
    }
}

#bottom-bar {
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: flex-start;
    bottom: 0;
    border-radius: var(--radius, 3px);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: var(--stroke_width, 1px) solid var(--Stroke, #535353);
    height: 25%;
    font-style: normal;
    background: var(--Background);

    #dialogue {
        overflow: scroll;
        display: flex;
        height: 100%;
        padding: var(--padding, 12px);
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        -ms-overflow-style: none;

        #entity-title {
            font-style: italic;
        }
    }

    #dialogue::-webkit-scrollbar {
        display: none;
    }

    #action-box {
        display: flex;
        padding: var(--padding, 12px);
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        align-self: stretch;
        border-left: var(--stroke_width, 1px) solid var(--Stroke, #535353);
        font-style: normal;

        #interact {
            color: var(--yellow-1);
        }

        #inspect {
            color: var(--cyan-1);
        }

        #attack {
            color: var(--red-1);
        }

        #speak {
            color: var(--pink-1);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(365deg);
    }
}

#center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    #viewport {
        display: flex;
        align-items: end;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        align-content: end;
        /*background: repeating-radial-gradient(pink, pink 5px, black 5px, black 20px);*/

        #background-entities {
            align-self: center;
            display: flex;
            align-items: end;
            position: relative;
            flex-flow: row wrap;
            width: 100%;
            padding: 0 calc(2 * var(--padding));
            justify-content: space-evenly;

            img {
                max-width: 40%;
                margin: 0 50px;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-name: rotate;
                filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.40));
                transition: 0.1s cubic-bezier(.86, 0, .07, 1);
                z-index: 0;
                cursor: pointer;
            }

            img.selected {
                translate: 0 50%;
                scale: 150%;
                z-index: 1;
                right: 20%;
                filter: drop-shadow(8px 11px 2px rgba(0, 0, 0, 0.40));
                image-rendering: pixelated;
            }
            img.hover {
                animation: spin 0.5s ease-out backwards 0s 1;
            }
        }

        #entity {
            transform: rotate(5deg);
            z-index: 0;
            position: absolute;
            height: 200px;
            width: auto;
            right: 20%;
            filter: drop-shadow(8px 11px 2px rgba(0, 0, 0, 0.40));
            image-rendering: pixelated;
        }
    }
}

#top-bar {
    font-style: normal;
    display: flex;
    width: calc(100% - 24px);
    height: var(--top-height);
    padding: 3px 12px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: var(--stroke_width, 1px) solid var(--Stroke, #535353);
    background: var(--Background, #323232);

}

#rainbow {
    opacity: 0.7;
    width: 100%;
    height: 10px;
    background-image: repeating-linear-gradient(to right,
    var(--Foreground) 0, var(--Foreground) 10px,
    var(--Background) 10px, var(--Background) 20px,
    var(--Stroke) 20px, var(--Stroke) 30px,
    var(--cyan-1) 30px, var(--cyan-1) 40px,
    var(--yellow-1) 40px, var(--yellow-1) 50px,
    var(--red-1) 50px, var(--red-1) 60px,
    var(--pink-1) 60px, var(--pink-1) 70px);
}

#input-box {
    display: flex;
    height: 29px;
    /*width: 14em;*/
    padding: 6px var(--padding, 12px);
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--Background);

    input {
        background: transparent;
        border: none;
        color: inherit;
        width: 100%;
        height: 100%;
        font: inherit;
    }

    input:focus {
        outline: none;
        border-bottom: none;
    }
}

#settings-box {
    position: absolute;
    right: 0;
    top: calc(var(--top-height) + 6px - 2px);
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: var(--radius, 3px);
    border: var(--stroke_width, 1px) solid var(--Stroke, #535353);
    background: var(--Background, #323232);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#debug {
    position: absolute;
    left: 00%;
    top: 00%;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    display: flex;
    z-index: 50;
    flex-flow: column nowrap;
}