:root {
    --top-height: 1.4375rem;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0;

    margin: 0;
}

.box-element {
    color: var(--Foreground, #FFF);
    font-style: normal;
    font-weight: 25rem;
    line-height: normal;
}

.box-element.selected {
    border: var(--stroke_width) solid var(--Foreground);
    border-radius: var(--radius);
    margin-left: 0.29em;
    padding: 0 0.25em;
}


#left-bar {
    width: 30%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    border-right: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
    border-left: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
    background: var(--Background, #323232);


    .side-box {
        display: flex;
        padding: var(--padding, 0.75rem);
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .box-title {
            align-self: stretch;
            color: var(--Foreground, #FFF);
            text-align: center;
            font-weight: 700;
        }
    }

    .side-box:has(> :nth-child(1):last-child), #map-box:has(> :nth-child(2):last-child) {
        display: none;
    }

    hr {
        margin: 0.25rem 0.375rem;
        height: var(--stroke_width);
        width: 6.75rem;
        border: none;
        background: var(--Stroke, #535353);
    }

    .side-box:not(:last-child)::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.0625rem;
        background: var(--Stroke);
        margin: 0.75rem auto -0.75rem;
    }
}

#bottom-bar {
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: flex-start;
    bottom: 0;
    border-radius: var(--radius, 0.1875rem);
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    border: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
    height: 40%;
    font-style: normal;
    background: var(--Background);

    #dialogue {
        overflow: scroll;
        display: flex;
        height: 90%;
        padding: var(--padding, 0.75rem);
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
        -ms-overflow-style: none;

        #entity-title {
            font-style: italic;
        }
    }

    #dialogue::-webkit-scrollbar {
        display: none;
    }

    #action-box {
        display: flex;
        padding: var(--padding, 0.75rem);
        flex-direction: column;
        align-items: flex-start;
        gap: 0.375rem;
        align-self: stretch;
        border-left: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
        font-style: normal;

        #interact {
            color: var(--yellow-1);
        }

        #inspect {
            color: var(--cyan-1);
        }

        #attack {
            color: var(--red-1);
        }

        #speak {
            color: var(--pink-1);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(365deg);
    }
}

#center {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    #viewport {
        display: flex;
        align-items: end;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        align-content: end;
        /*background: repeating-radial-gradient(pink, pink 0.3125rem, black 0.3125rem, black 1.25rem);*/

        #background-entities {
            align-self: center;
            display: flex;
            align-items: end;
            position: relative;
            flex-flow: row wrap;
            width: 100%;
            padding: 0 calc(2 * var(--padding));
            justify-content: space-evenly;

            img {
                max-width: 40%;
                margin: 0 3.125rem;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-name: rotate;
                filter: drop-shadow(0.125rem 0.1875rem 0.125rem rgba(0, 0, 0, 0.40));
                transition: 0.1s cubic-bezier(.86, 0, .07, 1);
                z-index: 0;
                cursor: pointer;
            }

            img.selected {
                translate: 0 50%;
                scale: 150%;
                z-index: 1;
                right: 20%;
                filter: drop-shadow(0.5rem 0.6875rem 0.125rem rgba(0, 0, 0, 0.40));
                image-rendering: pixelated;
            }
            img.hover {
                animation: spin 0.5s cubic-bezier(.25,.46,.45,.94) backwards 0s 1;
            }
        }

        #entity {
            transform: rotate(5deg);
            z-index: 0;
            position: absolute;
            height: 12.5rem;
            width: auto;
            right: 20%;
            filter: drop-shadow(0.5rem 0.6875rem 0.125rem rgba(0, 0, 0, 0.40));
            image-rendering: pixelated;
        }
    }
}

#top-bar {
    font-style: normal;
    display: flex;
    width: calc(100% - 1.5rem);
    height: var(--top-height);
    padding: 0.1875rem 0.75rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
    background: var(--Background, #323232);

}

#rainbow {
    opacity: 0.7;
    width: 100%;
    height: 0.625rem;
    background-image: repeating-linear-gradient(to right,
    var(--Foreground) 0, var(--Foreground) 0.625rem,
    var(--Background) 0.625rem, var(--Background) 1.25rem,
    var(--Stroke) 1.25rem, var(--Stroke) 1.875rem,
    var(--cyan-1) 1.875rem, var(--cyan-1) 2.5rem,
    var(--yellow-1) 2.5rem, var(--yellow-1) 3.125rem,
    var(--red-1) 3.125rem, var(--red-1) 3.75rem,
    var(--pink-1) 3.75rem, var(--pink-1) 4.375rem);
}

#input-box {
    z-index: 5;
    display: flex;
    height: 1.8125rem;
    /*width: 14em;*/
    padding: 0.375rem var(--padding, 0.75rem);
    flex-direction: row;
    justify-content: center;
    gap: 0.625rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--Background);

    input {
        background: transparent;
        border: none;
        color: inherit;
        width: 100%;
        height: 100%;
        font: inherit;
    }

    input:focus {
        outline: none;
        border-bottom: none;
    }
}

#settings-box {
    position: absolute;
    right: 0;
    top: calc(var(--top-height) + 0.375rem - 0.125rem);
    display: flex;
    padding: 0.375rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: var(--radius, 0.1875rem);
    border: var(--stroke_width, 0.0625rem) solid var(--Stroke, #535353);
    background: var(--Background, #323232);
    z-index: 3;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#debug {
    position: absolute;
    left: 00%;
    top: 00%;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    display: flex;
    z-index: 50;
    flex-flow: column nowrap;
}
