:root {
    font: 400 italic 16px "JetBrains Mono";
    background: var(--Background);
    color: var(--Foreground);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    text-underline-offset: 2px;

    --padding: 12px;
    --stroke_width: 1px;
    --radius: 3px;
    --Foreground: #FFFFFF;
    --Background: #323232;
    --Stroke: #535353;
    --cyan-1: #82F6FF;
    --yellow-1: #FFEE7D;
    --red-1: #FF5151;
    --pink-1: #FE82CC;
    cursor: default;
}

.logical-button {
    cursor: pointer;
    font-weight: normal;
}
.floating-box {
    border-radius: var(--radius, 3px);
    border: var(--stroke_width, 1px) solid var(--Stroke, #535353);
    background: var(--Background, #323232);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: inherit;
    font: inherit;
    font-style: normal;
}
.entry-box {
    display: flex;
    width: 200px;
    height: 40px;
    padding: 9px 12px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.entry-box:focus {
    outline: none;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}