body {
    display: flex;
    width: 47.5625rem;
    height: 100vh;
    padding: 0 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.375rem;
    overflow: hidden;
}
.header {
    color: var(--Foreground, #FFF);
    text-align: center;
    font: 700 italic 0.75rem "JetBrains Mono";
    line-height: normal;
    cursor: default;
}
#title {
    font-size: 2.75rem;
}
#center-box {
    display: flex;
    height: 13.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    flex-shrink: 0;
}
#password-enter-container {
    display: flex;
    width: 12.5rem;
    height: 2.5rem;
    align-items: flex-start;
    gap: 0.75rem;
    flex-shrink: 0;
}

#enter-box {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5625rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    cursor: pointer;
}
#enter-box:focus {
    outline: none;
}

.corner-flair {
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    width: 20%;
    opacity: .5;
    background: linear-gradient(to right,
    var(--Foreground) 0%, var(--Foreground) 14.28%,
    var(--Background) 14.28%, var(--Background) 28.57%,
    var(--Stroke) 28.57%, var(--Stroke) 42.8%,
    var(--cyan-1) 42.8%, var(--cyan-1) 57.1%,
    var(--yellow-1) 57.1%, var(--yellow-1) 71.4%,
    var(--red-1) 71.4%, var(--red-1) 85.7%,
    var(--pink-1) 85.7%, var(--pink-1) 100%);
}

#auth-error {
    color: var(--red-1, #FF5151);
}
#auth-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--Foreground, #FFF);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 0.875rem;
}
hr {
    display: flex;
    padding: 0.25rem 0.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    background: var(--Stroke, #535353);
    width: 100%;
}