body {
    display: flex;
    width: 57.075rem;
    height: 100vh;
    padding: 0 1.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.45rem;
    overflow: hidden;
}

.header {
    color: var(--Foreground, #FFF);
    text-align: center;
    font: 700 italic 0.9rem "JetBrains Mono";
    line-height: normal;
    cursor: default;
}

#title {
    font-size: 3.3rem;
}

#center-box {
    display: flex;
    height: 16.375rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.9rem;
    flex-shrink: 0;
}

#password-enter-container {
    display: flex;
    width: 15rem;
    height: 3rem;
    align-items: flex-start;
    gap: 0.9rem;
    flex-shrink: 0;
}

#enter-box {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.675rem 0.9rem;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
    cursor: pointer;
}

#enter-box:focus {
    outline: none;
}

.corner-flair {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 20%;
    opacity: .5;
    background: linear-gradient(to right,
    var(--Foreground) 0%, var(--Foreground) 14.28%,
    var(--Background) 14.28%, var(--Background) 28.57%,
    var(--Stroke) 28.57%, var(--Stroke) 42.8%,
    var(--cyan-1) 42.8%, var(--cyan-1) 57.1%,
    var(--yellow-1) 57.1%, var(--yellow-1) 71.4%,
    var(--red-1) 71.4%, var(--red-1) 85.7%,
    var(--pink-1) 85.7%, var(--pink-1) 100%);
}

#auth-error {
    color: var(--red-1, #FF5151);
}

#auth-change-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    color: var(--Foreground, #FFF);
    text-align: center;
    font-family: "JetBrains Mono";
    font-size: 1.05rem;
}

hr {
    display: flex;
    padding: 0.3rem 0.45rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
    background: var(--Stroke, #535353);
    width: 100%;
}