.root {
    -fx-font-family: "JetBrains Mono", Monospaced, monospace;
    -fx-text-background-color: white;
    -fx-font-weight: 200;
}

.box {
    -fx-text-fill: white;
    -fx-padding: 3px 6px;
    -fx-alignment: center;
    -fx-border-radius: 2px;
    -fx-background-radius: 6px;
    -fx-background-inset: 0;
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-background-color: #4E4E4E;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}

.logical-button {
    -fx-cursor: hand;
    -fx-fill: white;
    -fx-background-color: none;
    -fx-text-background-color: white;
}

.label {
    -fx-text-fill: white;
    -fx-background-color: none;
    -fx-text-background-color: white;
}

.error {
    -fx-text-fill: #fb899b;
    -fx-alignment: center;
}

#title {
    -fx-font-size: 48px;
    -fx-font-family: 'JetBrains Mono SemiBold Italic';
}
#corner-flair {
	-fx-background-color: linear-gradient(to right, 
		#7F7F7F 0%, #7F7F7F 12.5%, 
		#4E4E4E 12.5%, #4E4E4E 25%, 
		#383838 25%, #383838 37.5%, 
		#5C7D7F 37.5%, #5C7D7F 50%, 
		#7F7B5B 50%, #7F7B5B 62.5%, 
		#7F4F4F 62.5%, #7F4F4F 75%, 
		#7F5C71 75%, #7F5C71 87.5%, 
		#7F7F7F 87.5%, #7F7F7F 100%);
}
