@font-face {
    src: url("../../../../fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    src: url("../../../../fonts/JetBrainsMono-Italic.ttf");
}

@font-face {
    src: url("../../../../fonts/JetBrainsMono-BoldItalic.ttf");
}

.root {
    -fx-font-family: "JetBrains Mono";
    -fx-text-background-color: white;
    -fx-background-color: bg;
    -fx-font-size: 12px;
    fg: #FFFFFF;
    bg: #323232;
    stroke: #535353;
    cyan-1: #82F6FF;
    yellow-1: #FFEE7D;
    red-1: #FF5151;
    pink-1: #FE82CC;
}

.bold-italic {
    -fx-font-family: "JetBrains Mono Bold Italic";
}

.rounded {
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;

}

.box {
    -fx-background-color: bg;
    -fx-text-fill: white;
    -fx-padding: 3px 12px;
    -fx-alignment: center;
    -fx-background-inset: 0;
    -fx-border-width: 1px;
    -fx-border-color: stroke;
}

.logical-button {
    -fx-cursor: hand;
    /*-fx-fill: white;*/
    -fx-text-background-color: white;
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-text-background-color: white;
}

.error {
    -fx-text-fill: #fb899b;
    -fx-alignment: center;
}

#title {
    -fx-font-size: 48px;
}

.corner-flair {
    -fx-opacity: .5;
    -fx-background-color: linear-gradient(to right,
    fg 0%, fg 14.28%,
    bg 14.28%, bg 28.57%,
    stroke 28.57%, stroke 42.8%,
    cyan-1 42.8%, cyan-1 57.1%,
    yellow-1 57.1%, yellow-1 71.4%,
    red-1 71.4%, red-1 85.7%,
    pink-1 85.7%, pink-1 100%);
}
.line {
    -fx-stroke: stroke;
    -fx-end-margin: 6px 4px;
    -fx-start-margin: 6px 4px;
    -fx-padding: 6px 4px;
}
.itty-decorations {
    -fx-opacity: 0.5;
    -fx-background-color: linear-gradient(from 0px 5px  to 70px 5px,
    fg 0%, fg 14.28%,
    bg 14.28%, bg 28.57%,
    stroke 28.57%, stroke 42.8%,
    cyan-1 42.8%, cyan-1 57.1%,
    yellow-1 57.1%, yellow-1 71.4%,
    red-1 71.4%, red-1 85.7%,
    pink-1 85.7%, pink-1 100%);
}

.rule-pane {
    -fx-alignment: center;
    -fx-padding: 6px 4px;
}
.left-submenu {
    -fx-padding: 12px;
}
#left-nav {
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: stroke;
}
#action-box {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: stroke;
    -fx-padding: 12px;
    -fx-spacing: 6px;
}
#text-output {
    -fx-border-width: 1px 1px 0 0;
    -fx-border-color: stroke;
    -fx-padding: 12px;
}
#text-output#entity-title {
    -fx-font-family: "JetBrains Mono Italic";
}
#action-box#interact {
    -fx-text-fill: yellow-1;
}
#action-box#inspect {
    -fx-text-fill: cyan-1;
}
#action-box#attack {
    -fx-text-fill: red-1;
}
#action-box#speak {
    -fx-text-fill: pink-1;
}