
.root {
    -fx-font-family: "JetBrains Mono", Monospaced, monospace;
    -fx-text-background-color: white;
    -fx-font-weight: 200;
	-fx-background-color: bg;
	-fx-font-size: 14;
	fg: #FFFFFF;
	bg: #323232;
	stroke: #535353;
	cyan-1: #82F6FF;
	yellow-1: #FFEE7D;
	red-1: #FF5151;
	pink-1: #FE82CC;
}
.bold-italic {
    -fx-font-family: 'JetBrains Mono SemiBold Italic';
}

.box {
    -fx-background-color: bg;
    -fx-text-fill: white;
    -fx-padding: 3px 12px;
    -fx-alignment: center;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-background-inset: 0;
    -fx-border-width: 1px;
    -fx-border-color: stroke;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}

.logical-button {
    -fx-cursor: hand;
    -fx-fill: white;
    -fx-text-background-color: white;
}

.label {
	-fx-font-size: 14;
    -fx-text-fill: white;
    -fx-text-background-color: white;
}

.error {
    -fx-text-fill: #fb899b;
    -fx-alignment: center;
}

#title {
    -fx-font-size: 48px;
}
.corner-flair {
	-fx-opacity: .5;
	-fx-background-color: linear-gradient(to right, 
		fg 0%, fg 14.28%, 
		bg 14.28%, bg 28.57%, 
		stroke 28.57%, stroke 42.8%, 
		cyan-1 42.8%, cyan-1 57.1%, 
		yellow-1 57.1%, yellow-1 71.4%, 
		red-1 71.4%, red-1 85.7%, 
		pink-1 85.7%, pink-1 100%);
}
